@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

.body{
    font-family: "Azeret Mono", monospace;
}
/* banner section style */
.banner-container{
    width: 936px;
    height: 423px;
    margin: 0 auto;
    /* margin-top: 20px; */
    border: 2px solid red;
    background-image: url(../assets/Hero-bg.png);

}

.banner-content{
    height:378px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner-content img{
    width: 156px;
    height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: center;text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.banner-container > .banner-text h1{
   align-items: center;
    font-size: 31px;
    font-weight: 800;
    color:rgb(13, 19, 33);
         margin-bottom: 20px;
}

.banner-content p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
}

button{
    width: 130px;
    height: 40px;
    /* border: none; */
    border-radius: 5px;
    background: rgb(13, 19, 33);
    color: #ffffff;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 13px 15px 13px 15px;
    position:;
    
}
/* delelopment style */
.development-section-container{
    width: 741px;
height: 906px;
border: 2px solid red;
margin: 0 auto;
margin-top: 50px;

}

.development-text-container {
    width: 553px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}
.development-text-container h1{
    font-size: 30px;
    font-weight: 800;
    color: rgb(13, 19, 33);
     margin-bottom: 15px;
}
.development-text-container p{
    font-size: 16px;
font-weight: 400;
color: rgb(13, 19, 33);

}
/* development first section  */

.first-section{
    width: 614px;
height: 218px;
border: 2px solid red;
 
 flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px; 
}

.text{
 display: flex;
}

/* inspiration section */
.inspiration-section{
    width: 741px;
height: 505px;

margin: 0 auto;
margin-top: 57px;
}

.inspire-text{
    width: 553;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.inspire-text h1{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
}

.inspire-text p{
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    
}

iframe{
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
}

/* current target section style */
.current-target{

}