@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

.body{
    font-family: "Azeret Mono"monospace;
}
/* banner section style */
.banner-container{
    width: 936px;
    height: 423px;
    margin: 0 auto;
    /* margin-top: 20px; */
    border: 2px solid red;
    background-image: url(../assets/Hero-bg.png);
margin-top: 50px;
}

.banner-content{
    height:378px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner-content img{
    width: 156px;
    height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

 .banner-text h1{
   align-items: center;
    font-size: 30px;
    font-weight: 800;
    color:rgb(13, 19, 33);
         margin-bottom: 20px;
         font-family: Azeret Mono;
}

.banner-content p{
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
    font-family: Azeret Mono;
}

.contact{
   
    width: 135px;
    height: 42px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 13px 15px 13px 15px;
    border-radius: 5px;
margin: 0 auto;
background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 13px;
font-weight: 600;
text-align: center;

}
    

/* delelopment style */
.development-section-container{
    width: 741px;
height: 906px;
margin: 0 auto;
margin-top: 60px;
background: rgba(13, 19, 33, 0.02);

}

.development-text-container {
    width: 553px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    /* margin-top: 40px; */
}
.development-text-container h2{
    font-size: 25px;
    font-weight: 800;
    color: rgb(13, 19, 33);
     margin-top: 50px;
     font-family: Azeret Mono;
     
}
.development-text-container p{
    font-size: 13px;
font-weight: 400;
color: rgb(13, 19, 33);
margin-top: 15px;
font-family: Azeret Mono;

}
/* development first section  */

.first-section{
    width: 80%;
height: 218px;
 display: flex;
 justify-content: space-between;
 margin: 0 auto;
 margin-top: 50px; 
 background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
 /* padding: 30px; */
 /* flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;  */
} 
#second{
    flex-direction: row-reverse ;
}
.first-section img{
    width: 169px;
height: 140px;
/* flex-direction: column; */
display: flex;
justify-content: center;
/* text-align: center; */
margin: 0 auto;
margin-top: 30px;
}

.text h4{
    font-size: 15px;
font-weight: 700;
margin-top: 30px;
margin-left: 40px;
font-family: Azeret Mono;


}

.text p{
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 40px;
    font-family: Azeret Mono;
}

.dev-button{
    width: 97px;
height: 31px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
display: flex;
flex-direction: row;
justify-content: center;
padding: 7px 13px 7px 13px;
margin: 20px 40px;

}


/* inspiration section */
.inspiration-section{
    width: 741px;
height: 505px;

margin: 0 auto;
margin-top: 57px;
}

.inspire-text{
    width: 553;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.inspire-text h1{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
}

.inspire-text p{
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    
}

iframe{
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
}

/* current target section style */
.current-target{
    width: 741px;
height: 300px;
border: 2px solid red;
margin : 0 auto;
}

.current-target-content{
    width: 553px;
height: 74px;display: flex;
flex-direction: column;
justify-content: center;

margin: 0 auto;
}
.current-target-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 800;
    margin: 0 auto;
    margin-top: 30px;
}

.current-target-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 18px;
}

.card-one{
   
position: static;
width: 236px;
height: 195px;
border: 2px solid red;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
/* padding: 20px; */
margin-top: 30px;
border-radius: 10px;
}
.card-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}